.git
.gitea
node_modules
Backend/node_modules
UI/node_modules
Backend/dist
UI/build
coverage
Backend/coverage
UI/coverage
.data
shsf_data
Backend/shsf_data
npm-debug.log
pnpm-debug.log
.env
Backend/.env
UI/.env
